{% extends 'base.html' %}

{% block content %}
    <style>
      body {
        background-color: #f8f9fa;
      }

      .card {
        margin-top: 50px;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .card-header {
        background-color: #343a40;
        color: white;
        border-radius: 10px 10px 0 0;
      }

      .form-control:focus {
        border-color: #343a40;
        box-shadow: none;
      }

      .btn {
        background-color: #343a40;
        border-color: #343a40;
      }

      .btn:hover {
        background-color: #ffffff;
        border-color: #23272b;
        color:#000000;
        font-weight: bold;
      }

      .card-footer {
        background-color: #f8f9fa;
        border-radius: 0 0 10px 10px;
      }
      .btnsame{
        background-color: #343a40;
        color: white;
        border-radius:3px
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header text-center">
              <h4>Sign Up</h4>
            </div>
            <div class="card-body">
              <form method="POST">
                <div class="row mb-3">
                  <div class="col">
                    <label for="firstName" class="form-label">First name</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="First name">
                  </div>
                  <div class="col">
                    <label for="lastName" class="form-label">Last name</label>
                    <input type="text" class="form-control" name = "lastname" id="lastName" placeholder="Last name">
                  </div>
                </div>
                <div class="mb-3">
                  <label for="DOB" class="form-label">DOB</label>
                  <input type="date" class="form-control" name="DOB" id="DOB" aria-describedby="DOB" placeholder="Enter DOB">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="mb-3">
                  <label for="Phone number" class="form-label">Phone number</label>
                  <input type="tel" class="form-control" name="phone_number" id="phone_number" aria-describedby="PhoneHelp" placeholder="Phone number">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btnsame">Submit</button>
                </div>
              </form>
            </div>
            <div class="card-footer text-muted text-center">
              Already have an account? <a href="{{ url_for('login') }}">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}
